body {
    background-color: #ebebeb;
}

.holder-list-classes {
    padding: 20px 0;
}

.list-classes__block-search {
    display: flex;
    justify-content: flex-end;
}

.list-classes__block-search .search-date {
    outline: 0;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    width: 250px;
    font-size: 14px;
    padding: 4px 0 4px 16px;
    font-weight: normal;
    border-radius: 3px;
    border: 0;
    margin-bottom: 32px;
}

.list-classes__table {
    border: solid 2px #e1e1e1;
    overflow: hidden;
    width: 100%;
    margin: auto;
    table-layout: fixed;
    padding: 8px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 8px;
}

.list-classes__table tbody {
    display: block;
    overflow: auto;
    max-height: 400px;
}

.list-classes__table thead tr, .list-classes__table tbody tr {
    display: table;
    width:100%;
    table-layout:fixed;
}

.list-classes__table tr th {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    padding: 12px 16px;
}

.list-classes__table tr th.center {
    text-align: center;
}

.list-classes__table tr td {
    padding: 12px 16px;
}

.list-classes__table tr td.center {
    text-align: center;
}