body {
    background-color: #fff;
}

.reload-system-screen {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reload-system-screen__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 44px;
}

.reload-system-screen__logo-wrapper {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.reload-system-screen__logo-wrapper__icon {
    width: 150px;
    height: 150px;
}
