/*Это не надо*/
.video-wrapper {
    margin: 50px auto 0;
    width: 760px;
    height: 426px;
    background-color: #939393;
    position: relative;
}

/*Дальше всё надо*/
.stopwatch-wrapper button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.stopwatch-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 30px;
    display: grid;
    grid-template-columns: 142px 5fr 3fr 4fr;
    background: #212121;
    opacity: 0.8;
    transition: opacity 300ms;
}

.stopwatch-wrapper.stopwatch-wrapper--hide {
    opacity: 0;
    pointer-events: none;
}

.stopwatch-wrapper .stopwatch-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch-wrapper .stopwatch-cell--select {
    position: relative;
}

.stopwatch-wrapper .stopwatch-cell:first-child {
    padding-left: 16px;
    padding-right: 6px;
}

.stopwatch-wrapper .stopwatch-cell:last-child {
    padding-right: 6px;
}

.stopwatch-wrapper .stopwatch__selected {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.stopwatch-wrapper .stopwatch__selected:after {
    content: '';
    display: block;
    border: 5px solid transparent;
    border-top: 5px solid #a3a3a3;
    margin-top: 5px;
}

.stopwatch-wrapper .stopwatch__selected.disabled {
    color: #a3a3a3;
    pointer-events: none;
}

.stopwatch-wrapper .stopwatch__selected.disabled:after {
    opacity: 0;
}

.stopwatch-wrapper .stopwatch__selected.open:after {
    border: 5px solid transparent;
    border-bottom: 5px solid #a3a3a3;
    margin-top: 0;
    margin-bottom: 4px;
}

.stopwatch-wrapper .stopwatch__select__option {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    height: 30px;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 16px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    background-color: #212121;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms;
}

.stopwatch-wrapper .stopwatch__select__option.open {
    opacity: 1;
    pointer-events: auto;
}

.stopwatch-wrapper .stopwatch__input {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #212121;
    outline: 0;
    width: 60px;
}

.stopwatch-wrapper .stopwatch__input::placeholder {
    color: #757575;
}

.stopwatch-wrapper .stopwatch__btn-start-or-stop {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.stopwatch-wrapper .stopwatch__btn-start-or-stop:disabled {
    color: #757575;
}

.stopwatch-wrapper .stopwatch__btn-start-or-stop.active {
    color: #EB5757;
}

.stopwatch-wrapper .stopwatch__btn-interval {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.stopwatch-wrapper .stopwatch__btn-interval:disabled {
    color: #757575;
}
