body {
    background-color: #ebebeb;
}

.holder-table-passing-time {
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 2px #e1e1e1;
    margin-bottom: 24px;
    overflow: hidden;
    transition: all 500ms;
    max-height: 55px;
}

.holder-table-passing-time.drop {
    max-height: 500px;
}

.holder-table-passing-time .title {
    cursor: pointer;
    padding: 18px;
    font-size: 14px;
    color: #757575;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holder-table-passing-time .title .glyphicon {
    margin-right: 18px;
    margin-top: -3px;
    transition: all 300ms;
}

.holder-table-passing-time.drop .title .glyphicon {
    transform: rotate(180deg);
}

.table-passing-time {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    overflow: hidden;
    padding: 8px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 8px;
}

.table-passing-time tbody {
    display: block;
    overflow: auto;
    max-height: 300px;
}

.table-passing-time thead tr, .table-passing-time tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-passing-time tr th {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    padding: 12px 16px;
}

.table-passing-time tr th.center {
    text-align: center;
}

.table-passing-time tr td {
    padding: 12px 16px;
}

.table-passing-time tr td.center {
    text-align: center;
}

.button-table-sort {
    cursor: pointer;
}
