button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

input {
    outline: 0;
}

.settings-common {
    padding: 60px 50px 70px;
}

.settings-common__table-wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.settings-common__head {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.settings-common__title {
    font-size: 18px;
    line-height: 20px;
}

.settings-common__content {
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    padding: 34px 36px 40px;
}

.settings-common__form {
    max-width: 470px;
}

.settings-common__part-form {
    margin-bottom: 40px;
}

.settings-common__part-form:last-child {
    margin-bottom: 0;
}

.settings-common-form__field-holder {
    margin-bottom: 20px;
}

.settings-common-form__field-holder--small-margin {
    margin-bottom: 10px;
}

.settings-common-form__field-holder--name-server {
    margin-bottom: 44px;
}

.settings-common-form__text-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-common-form__text-input-wrapper:last-child {
    margin-bottom: 0;
}

.settings-common-form__text-input-wrapper--not-center {
    align-items: flex-start;
}

.settings-common-form__text-input-wrapper--not-center .settings-common-form__text-input__title {
    margin-top: 6px;
}

.settings-common-form__text-input__title {
    font-size: 16px;
    line-height: 20px;
    flex: 0 0 186px;
}

.settings-common.settings-common--readonly .settings-common-form__text-input__title {
    color: #757575;
}

.settings-common-form__text-input__title--big {
    flex: 0 0 364px;
}

.settings-common-form__text-input__label {
    position: relative;
    width: 100%;
    margin: 0;
}

.settings-common-form__text-input__label.settings-common-form__text-input__label--checkbox {
    font-size: 0;
}

.settings-common-form__text-input__label:first-child .settings-common-form__text-input__btn-remove {
    display: none;
}

.settings-common-form__text-input__input {
    height: 42px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 2px;
    width: 100%;
    transition: all 300ms;
    outline: none;
}

.settings-common-form__text-input__input--checkbox {
    display: none;
}

.settings-common-form__text-input__input--checkbox:checked + .settings-common-form__text-input__input--checkbox__content {
    border: 0;
}

.settings-common-form__text-input__input--checkbox:checked + .settings-common-form__text-input__input--checkbox__content:after {
    opacity: 1;
}

.settings-common-form__text-input__input--checkbox__content {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #DADADA;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.settings-common-form__text-input__input--checkbox__content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/check.svg');
    opacity: 0;
    transition: opacity 200ms;
}

.settings-common.settings-common--readonly .settings-common-form__text-input__label {
    color: #757575;
    pointer-events: none;
}

.settings-common-form__text-input__input:disabled .settings-common-form__text-input__btn-remove {
    pointer-events: none;
}

.settings-common-form__text-input__group .settings-common-form__text-input__label {
    margin-bottom: 10px;
}

.settings-common-form__text-input__group .settings-common-form__text-input__label:last-child {
    margin-bottom: 0;
}

.settings-common-form__text-input__input::placeholder {
    color: #BDBDBD;
}

.settings-common-form__text-input__input[type="number"] {
    padding-right: 4px;
}

.settings-common-form__text-input__input.invalid {
    border-color: #ff7b83;
}

.settings-common-form__text-input__btn-remove {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #757575;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-common-form__text-input__btn-remove.settings-common-form__text-input__btn-remove--readonly {
    pointer-events: none;
    opacity: .5;
}

.settings-common-form__text-input__btn-remove .glyphicon.glyphicon-trash {
    display: block;
}

.settings-common-form__text-input__title__after-input {
    flex: 0 0 26px;
    margin-left: 16px;
}

.settings-common.settings-common--readonly .settings-common-form__text-input__title__after-input {
    color: #757575;
}

.settings-common__part-form__title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 26px;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
}

.settings-common.settings-common--readonly .settings-common__part-form__title {
    color: #757575;
}

.settings-common__part-form__title:after {
    content: '';
    display: block;
    flex: 0 0 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin-left: 16px;
}

.settings-common-form__text-input__group-wrapper {
    width: 100%;
}

.settings-common-form__btn-add-ice {
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
}

.settings-common-form__btn-add-ice.settings-common-form__btn-add-ice--readonly {
    pointer-events: none;
    opacity: .5;
}

.settings-common-form__btn-add-ice .glyphicon {
    margin-right: 14px;
    margin-top: 2px;
    font-size: 12px;
}

.settings-common__form__field-error {
    font-size: 12px;
    line-height: 16px;
    color: #ff7b83;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 300ms;
}

.settings-common__form__field-error.settings-common__form__field-error--active {
    max-height: 32px;
    opacity: 1;
    pointer-events: auto;
}
