.rfid-cards .rfid-cards__block-add {
  flex: 0 0 394px;
}

.rfid-cards .rfid-cards__block-add__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.rfid-cards .rfid-cards__block-add__head__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.rfid-cards .rfid-cards__block-add__head__toggler {
  margin-top: 6px;
}

.rfid-cards .rfid-cards__block-add__head__toggler__label {
  margin: 0;
  cursor: pointer;
}

.rfid-cards .rfid-cards__block-add__head__toggler__input {
  display: none;
}

.rfid-cards .rfid-cards__block-add__head__toggler__input:checked + .rfid-cards__block-add__head__toggler__content .rfid-cards__block-add__head__toggler__icon {
  background-color: #00AAEE;
}

.rfid-cards .rfid-cards__block-add__head__toggler__input:checked + .rfid-cards__block-add__head__toggler__content .rfid-cards__block-add__head__toggler__icon:after {
  left: 18px;
}

.rfid-cards .rfid-cards__block-add__head__toggler__content {
  display: flex;
  align-items: center;
}

.rfid-cards .rfid-cards__block-add__head__toggler__text {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  font-weight: normal;
  margin-right: 9px;
}

.rfid-cards .rfid-cards__block-add__head__toggler__icon {
  display: block;
  width: 36px;
  height: 20px;
  border-radius: 18px;
  background-color: #C3CBCD;
  position: relative;
  transition: background-color 200ms ease-in-out;
}

.rfid-cards .rfid-cards__block-add__head__toggler__icon:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  transition: left 200ms ease-in-out;
}

.rfid-cards .rfid-cards__block-add__form__field {
  display: grid;
  grid-template-columns: 140px auto;
  grid-gap: 26px;
  margin-bottom: 16px;
  position: relative;
}

.rfid-cards .rfid-cards__block-add__form__field.rfid-cards__block-add__not-advanced-mode {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 0;
  pointer-events: none;
}

.rfid-cards .rfid-cards__block-add__form__field:last-child {
  margin-bottom: 0;
}

.rfid-cards .rfid-cards__block-add__form__field--block {
  display: block;
}

.rfid-cards .rfid-cards__block-add__form__field--pointer {
  cursor: pointer;
}

.rfid-cards .rfid-cards__block-add__form__field__label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.rfid-cards .rfid-cards__block-add__form__field__input-wrapper {
  position: relative;
}

.rfid-cards .rfid-cards__block-add__form__field__input-wrapper:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 24px;
  opacity: 0.54;
  border: 6px solid transparent;
  border-top: 6px solid #000;
}

.rfid-cards .rfid-cards__block-add__form__field__input {
  height: 40px;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  padding: 0 14px;
  font-weight: normal;
  width: 100%;
}

.rfid-cards .rfid-cards__block-add__form__field__input--invalid {
  border-color: #ff4848;
}

.rfid-cards .rfid-cards__block-add__form__field__input--select {
  color: #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.rfid-cards .rfid-cards__block-add__form__field__checkbox__input {
  display: none;
}

.rfid-cards .rfid-cards__block-add__form__field__checkbox__input:checked + .rfid-cards__block-add__form__field__checkbox__content:after {
  opacity: 1;
}

.rfid-cards .rfid-cards__block-add__form__field__checkbox__content {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  position: relative;
  display: flex;
  align-items: center;
}

.rfid-cards .rfid-cards__block-add__form__field__checkbox__content:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #757575;
  margin-right: 23px;
}

.rfid-cards .rfid-cards__block-add__form__field__checkbox__content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url('../assets/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 200ms;
}

.rfid-cards .rfid-cards__block-add__form__btns-wrapper {
  margin-top: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.rfid-cards .rfid-cards__block-add__form__btns-wrapper.rfid-cards__block-add__not-advanced-mode {
  margin-top: 10px;
}

.rfid-cards .rfid-cards__block-add__form__btn {
  margin-left: 35px;
  height: 42px;
  background-color: #00C947;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  width: 133px;
}

.rfid-cards #rfid-cards__block-add__form__btn--first.rfid-cards__block-add__not-advanced-mode {
  width: 100%;
}

.rfid-cards #rfid-cards__block-add__form__btn--second {
  background-color: #00AAEE;
}

.rfid-cards #rfid-cards__block-add__form__btn--second.rfid-cards__block-add__not-advanced-mode {
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.rfid-cards .rfid-cards__block-add__form__btn:first-child {
  margin-left: 0;
}

.rfid-cards .rfid-cards__block-add__form__textarea {
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  resize: none;
  width: 100%;
  padding: 18px 24px;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  cursor: default;
}

.rfid-cards .rfid-cards__block-add__form__textarea__custom-placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #757575;
  position: absolute;
  top: 19px;
  left: 19px;
  padding: 0 6px;
  pointer-events: none;
  transition: all 200ms;
}

.rfid-cards .rfid-cards__block-add__form__textarea.rfid-cards__block-add__form__textarea--focus + .rfid-cards__block-add__form__textarea__custom-placeholder {
  top: -9px;
  left: 16px;
  background-color: #fff;
}
