body {
  background-color: #F2F2F2;
}

.rfid-cards button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.rfid-cards input, .rfid-cards select, .rfid-cards option, .rfid-cards button {
  outline: 0;
}

.rfid-cards {
  max-width: 895px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.rfid-cards .rfid-cards__content-wrapper {
  padding: 30px 35px 60px;
}

.rfid-cards .rfid-cards__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.rfid-cards .rfid-cards__head__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.rfid-cards .rfid-cards__head__btn-close .glyphicon-remove {
  font-size: 20px;
}

.rfid-cards .rfid-cards__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rfid-cards .rfid-cards__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.rfid-cards .rfid-cards__loader--show {
  opacity: 1;
  pointer-events: auto;
}
