.rfid-cards .rfid-cards__table {
  flex: 0 0 362px;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  overflow: hidden;
}

.rfid-cards .rfid-cards__table__head {
  border-bottom: 1px solid #E0E0E0;
}

.rfid-cards .rfid-cards__table__body {
  min-height: 400px;
  position: relative;
  padding-top: 10px;
}

.rfid-cards .rfid-cards__table__row {
  display: grid;
  grid-template-columns: 5fr 3fr 2fr;
  height: 42px;
}

.rfid-cards .rfid-cards__table__row--empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.rfid-cards .rfid-cards__table__cell {
  border-right: 1px solid #E0E0E0;
}

.rfid-cards .rfid-cards__table__cell--head {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.rfid-cards .rfid-cards__table__cell--token {
  padding: 0 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
}

.rfid-cards .rfid-cards__table__btn-auto {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url('../assets/card-num-auto.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 200ms;
}

.rfid-cards .rfid-cards__table__btn-auto:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.rfid-cards .rfid-cards__table__cell--date {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.rfid-cards .rfid-cards__table__cell--del {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rfid-cards .rfid-cards__table__btn-del {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url('../assets/card-del.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 200ms;
}

.rfid-cards .rfid-cards__table__btn-del:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.rfid-cards .rfid-cards__table__cell:last-child {
  border-right: 0;
}