body {
    background-color: #F2F2F2;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

input {
    outline: 0;
}

.camera-settings {
    max-width: 540px;
    margin: 0 auto;
    background-color: #fff;
}

.camera-settings__content {
    padding: 24px 34px 84px;
}

.camera-settings__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.camera-settings__head__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

.camera-settings__head__btn-close .glyphicon-remove {
    font-size: 20px;
}

.camera-settings__part-form-general {
    margin-bottom: 70px;
}

.camera-settings-form__text-input-wrapper {
    display: grid;
    grid-template-columns: 130px 1fr;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.camera-settings-form__text-input-wrapper:last-child {
    margin-bottom: 0;
}

.camera-settings-form__text-input__title {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.camera-settings-form__text-input__label {
    width: 100%;
    margin: 0;
}

.camera-settings-form__text-input__input {
    height: 42px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 2px;
    width: 100%;
    transition: all 300ms;
}

.camera-settings-form__text-input__input.invalid {
    border-color: #ff7b83;
}

.camera-settings__part-form__title {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 26px;
    flex: 1 1 auto;
    overflow: hidden;
}

.camera-settings__part-form__title:after {
    content: '';
    display: block;
    flex: 0 0 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin-left: 16px;
}

.camera-settings__part-form-dynamics {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.camera-settings-form__radio-input-wrapper {
    margin-bottom: 14px;
}

.camera-settings-form__radio-input-wrapper:last-child {
    margin-bottom: 0;
}

.camera-settings-form__radio-input__input {
    display: none;
}

.camera-settings-form__radio-input__input:checked + .camera-settings-form__radio-input__content {
    color: #404040;
}

.camera-settings-form__radio-input__input:checked + .camera-settings-form__radio-input__content:before {
    border-color: #00AAEE;
}

.camera-settings-form__radio-input__input:checked + .camera-settings-form__radio-input__content:after {
    opacity: 1;
}

.camera-settings-form__radio-input__input.invalid + .camera-settings-form__radio-input__content:before {
    border-color: #ff7b83;
}

.camera-settings-form__radio-input__content {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #757575;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: all 200ms;
}

.camera-settings-form__radio-input__content:before {
    content: '';
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
    border-radius: 100%;
    border: 2px solid #757575;
    transform: translateY(-1px);
    margin-right: 20px;
    transition: all 200ms;
}

.camera-settings-form__radio-input__content:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #00AAEE;
    left: 5px;
    top: 4px;
    border-radius: 100%;
    opacity: 0;
    transition: all 200ms;
}

.camera-settings__part-form-microphone {
    display: flex;
    flex-direction: column;
}

.camera-settings__nav {
    border-top: 1px solid rgba(0, 0, 0, 0.119);
    padding: 0 34px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.camera-settings__nav__btn {
    width: 134px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    border-radius: 6px;
}

.camera-settings__nav__btn--cancel {
    color: #757575;
}

.camera-settings__nav__btn--confirm {
    background-color: #00AAEE;
    color: #fff;
}

.camera-settings-form__field-error {
    font-size: 12px;
    line-height: 16px;
    color: #ff7b83;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 300ms;
}

.camera-settings-form__field-error.camera-settings-form__field-error--active {
    max-height: 32px;
    opacity: 1;
    pointer-events: auto;
}
