body {
    background-color: #F2F2F2;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.reload-system-dialog {
    background-color: #fff;
    width: 540px;
    margin: 0 auto;
}

.reload-system-dialog__head {
    padding: 24px 24px 0 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reload-system-dialog__head__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.reload-system-dialog__head__btn-close {
    width: 30px;
    height: 30px;
    background-image: url('../assets/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms;
    border-radius: 100%;
}

.reload-system-dialog__head__btn-close:hover {
    background-color: #f1f1f1;
}

.reload-system-dialog__text {
    padding: 60px 34px;
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
}

.reload-system-dialog__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.119);
    padding: 14px 34px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.reload-system-dialog__footer__btn {
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    width: 132px;
    height: 40px;
    border-radius: 6px;
    transition: background-color 200ms;
}

.reload-system-dialog__footer__btn:last-child {
    margin-right: 0;
}

.reload-system-dialog__footer__btn--cancel {
    color: #757575;
}

.reload-system-dialog__footer__btn--cancel:hover {
    background-color: #f1f1f1;
}

.reload-system-dialog__footer__btn--ok {
    color: #fff;
    background: #00AAEE;
}

.reload-system-dialog__footer__btn--ok:hover {
    background: #009ede;
}
