.cameras-list {
    padding: 60px 50px 70px;
}

.cameras-list__table-wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.cameras-list__head {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cameras-list__title {
    font-size: 18px;
    line-height: 20px;
}

.cameras-list__table {
    border: 2px solid #E0E0E0;
    border-radius: 6px;
}

.cameras-list__table-head {
    border-bottom: 1px solid #E0E0E0;
}

.cameras-list__table-body {
    padding-top: 6px;
    padding-bottom: 12px;
    max-height: 282px;
    overflow-y: auto;
}

.cameras-list__table-row {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cameras-list__table-row--head {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cameras-list__table-row--body {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    transition: background-color 200ms;
}

.cameras-list__table-row--body:hover {
    background-color: rgba(0, 0, 0, .03);
}

.cameras-list__table-cell {
    flex: 0 0 20%;
}

.cameras-list__table-cell--head {
    font-size: 16px;
    line-height: 20px;
    color: #868686;
}

.cameras-list__table-cell--body {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.cameras-list__table-cell--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cameras-list__table__label {
    display: inline-block;
    margin: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.cameras-list__table__input {
    display: none;
}

.cameras-list__table__input:checked + .cameras-list__table__input__content {
    border: 0;
}

.cameras-list__table__input:checked + .cameras-list__table__input__content:after {
    opacity: 1;
}

.cameras-list__table__input__content {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #DADADA;
    border-radius: 3px;
    position: relative;
}

.cameras-list__table__input__content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/check.svg');
    opacity: 0;
    transition: opacity 200ms;
}

.cameras-list__table__message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}
